.menu {
    background-color: rgb(17, 16, 16);
    color: white;
}

.menu li a {
    display: inline;
    margin-right: 10px;
    color: white
}
.letras {
    text-align: center;
    color:white
}
.letrasLeft {
    text-align: left;
    color:white;
    padding-left : 450px;
    font-family: Arial, Helvetica, sans-serif;
}
.iconosLetras {
    text-align: left;
    color:white;
    padding-left : 530px;
}


.fondo {
    background-color: rgb(16, 51, 51);
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white
}

li {
    display: inline;
    margin-right: 10px;
    color: white
}

a {
    text-decoration: none;
    color: white;
    font-size: 35px;
}
.Logo img {
    width: 90px; /* Establecer el ancho en 50 píxeles */
    height: auto; /* Ajustar la altura automáticamente */
    vertical-align: middle; /* Alinear verticalmente la imagen con el texto */
}
.Icono img {
    width: 45px; /* Establecer el ancho en 50 píxeles */
    height: auto; /* Ajustar la altura automáticamente */
    vertical-align: middle; /* Alinear verticalmente la imagen con el texto */
}
.Icono {
    text-align: center; /* Centrar el contenido del contenedor */
}
.Iconoleft {
    text-align: center; /* Centrar el contenido del contenedor */
}
.TextoLetras {
        text-align: justify;
        margin: 0 auto; /* Centrar el texto horizontalmente */
        max-width: 1150px; /* Establecer el ancho máximo del contenedor */
        padding: 20px; /* Añadir espaciado interno para mejorar la legibilidad */
        background-color: #524f4f; /* Agregar un color de fondo para destacar el texto */
        border-radius: 10px; 
        box-shadow: 0 0 10px rgba(23, 24, 26, 0.1); 
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.Photo img {
    width: 500px; /* Establecer el ancho en 50 píxeles */
    height: auto; /* Ajustar la altura automáticamente */
    vertical-align: left; /* Alinear verticalmente la imagen con el texto */
    margin-left: 250px;
    box-shadow: 0 0 10px rgba(234, 238, 245, 0.979);
    
}

.text {

    text-align: justify;
    margin: 0 auto; /* Centrar el texto horizontalmente */
    max-width: 350; /* Establecer el ancho máximo del contenedor */
    padding: 20px; /* Añadir espaciado interno para mejorar la legibilidad */
    background-color: rgb(64, 88, 88); /* Agregar un color de fondo para destacar el texto */
    border-radius: 10px; /* Agregar bordes redondeados para un aspecto más suave */
    box-shadow: 0 0 10px rgba(230, 231, 233, 0.1); /* Agregar una sombra para resaltar el contenedor */
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150px;
}
.container {
    display: flex;
}
.margenPerroGato{
    margin-left: 110px;
    margin-right: 110px;
    vertical-align: middle;
}

.ButonAnimal{
    text-align: justify;
    margin: 0 auto; /* Centrar el texto horizontalmente */
    max-width: 100; /* Establecer el ancho máximo del contenedor */
    padding: 20px; /* Añadir espaciado interno para mejorar la legibilidad */
    background-color: rgb(64, 88, 88); /* Agregar un color de fondo para destacar el texto */
    border-radius: 50px; /* Agregar bordes redondeados para un aspecto más suave */
    box-shadow: 0 0 10px rgb(241, 235, 235); /* Agregar una sombra para resaltar el contenedor */
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 140px;
    margin-bottom: 140px;
}
.FondoImagen p{
    text-align: center;
    color:rgb(247, 244, 244);
}
.FondoImagen{
    background-image:url(Imagenes/FondoAnimales.png);
    opacity: 0.25;
    overflow:hidden;
}
